- model_class = FitmentCenter
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:company_name) + ':'
  %br
  = @fitment_center.company_name
%p
  %strong= model_class.human_attribute_name(:tel_number) + ':'
  %br
  = @fitment_center.tel_number
%p
  %strong= model_class.human_attribute_name(:fax_number) + ':'
  %br
  = @fitment_center.fax_number
%p
  %strong= model_class.human_attribute_name(:physical_address) + ':'
  %br
  = @fitment_center.physical_address
%p
  %strong= model_class.human_attribute_name(:contact_name) + ':'
  %br
  = @fitment_center.contact_name
%p
  %strong= model_class.human_attribute_name(:contact_email_address) + ':'
  %br
  = @fitment_center.contact_email_address
%p
  %strong= model_class.human_attribute_name(:contact_cell_number) + ':'
  %br
  = @fitment_center.contact_cell_number
%p
  %strong= model_class.human_attribute_name(:postal_address) + ':'
  %br
  = @fitment_center.postal_address
%p
  %strong= model_class.human_attribute_name(:registered_by) + ':'
  %br
  = @fitment_center.registered_by
%p
  %strong= model_class.human_attribute_name(:verified) + ':'
  %br
  = @fitment_center.verified

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), fitment_centers_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_fitment_center_path(@fitment_center), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), fitment_center_path(@fitment_center), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
