%br
.row
  %h4.text-success Crime News #{Date.today.strftime("%Y-%m-%d")} (Source News24)
  %br
  -rss = RSS::Parser.parse('http://feeds.news24.com/articles/news24/TopStories/rss', false)
  -rss.items.each do |item|
    %h5.text-info
      %a{:href => "#{item.link}"} #{item.title}
    %hr
    #{item.description}
    %br
    %i #{item.pubDate}
%br
